FORMAT: 1A
HOST: http://grandnews.cc/api/v1

#grandnews
《Grand News》API文档


#Group vols
期刊列表

## 期刊列表 [/vols/{?limit}{?lastId}]
期刊列表，做展示用

+ Parameters

    + limit:  20(number,optional) - 期望返回的列表个数
        + Default:`20`
    + lastId: 0 (number,optional) - 上一次返回的最大期刊ID，用于翻页
        + Default:`0`
### 获取期刊列表 [GET]
批量获取期刊

+ Response 200 (application/json)

    + Body

            {
            "errno" : 0,
            "errmsg" : "success",
            "data" : {
                "vols" : [
                    {
                        "id" : 13131231,
                        "title" : "《Grand News》第一百期《站起来！》",
                        "created_time": "2013-01-31 21:23:30",
                        "cover_img" : "http://oss.com/grandnews_100/0.jpg",
                        "auther_name" : "海吧新闻部",
                        "auther_id":12312144,
                        "auther_avatar" : "http://oss.com/user_123141/icon.jpg"
                    },
                    {
                        "id" : 13131232,
                        "title" : "《Grand News》第一百零一期《不要动！》",
                        "created_time": "2013-02-03 21:23:30",
                        "cover_img" : "http://oss.com/grandnews_101/0.jpg",
                        "auther_name" : "海吧新闻部",
                        "auther_id":12312144,
                        "auther_avatar" : "http://oss.com/user_123141/icon.jpg"
                    }
                ],
                "has_more" : true
            }
            }





### 新增期刊 [POST]

新建一期期刊

+ Request (application/json)

        {
            "question": "Favourite programming language?",
            "choices": [
                "Swift",
                "Python",
                "Objective-C",
                "Ruby"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 0
                    }, {
                        "choice": "Python",
                        "votes": 0
                    }, {
                        "choice": "Objective-C",
                        "votes": 0
                    }, {
                        "choice": "Ruby",
                        "votes": 0
                    }
                ]
            }
